/*
  * SMACSS
*/

#container {
  width: 80%;
  margin: auto;
  display: flex;
}

.header-nav, .main-footer {
  display: flex;
  flex-direction: column;
}

header, nav, main, footer {
  border: 1px solid black;
}

header {
  display: flex;
}

nav {
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
}

footer {
  display: flex;
}

#my-photo {
  width: 100px;
  height: 100px;
}
