#container {
  width: 80%;
  margin: auto;
  display: flex;
}

.header-nav,
.main-footer {
  display: flex;
  flex-direction: column;
}

.header-nav {
  width: 40%;
}

.main-footer {
  width: 60%;
}

header,
nav,
main,
footer {
  border: 1px solid black;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header > h1 {
  width: 30%;
}

#my-photo {
  width: 30%;
}

nav {
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  padding: 3%;
}

main > article {
  margin-bottom: 3%;
}

.summary > p, .english > p {
  text-align: justify;
}

.summary > p {
  margin-top: 0;
}

.projects__header {
  margin-bottom: 0;
}

.project, .school {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5%;
}

.project__date,
.project__header,
.project__description {
  margin: 0;
  align-self: center;
}

.project__date, .school__graduation {
  order: 1;
  width: 20%;
}

.project__header, .school__program {
  order: 2;
  width: 60%;
}

.project__header > h3 {
  margin: 0;
}

.project__description, .school__name {
  order: 3;
  margin-top: 1%;
}

.school__graduation,
.school__program,
.school__name {
  margin: 0;
}

.school__program {
  width: 80%;
}

article > h2 {
  margin-bottom: 2%;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.course, .credentials {
  width: 50%;
  display: flex;
  align-items: center;
  gap: 0 2%;
  padding: 2%;
}

.course {
  justify-content: flex-start;
}

.credentials {
  justify-content: flex-end;
}

#logo {
  width: 40%;
}
